/* global style */

body {
    margin: 0;
    padding: 0;
}
li {
    list-style-type: none;
}
* {
    box-sizing: border-box;
}
/* header style */

.imageheader {
    background-color: burlywood;
    width: 100%;
    height: 60px;
}
header {
    height: 110px;
    margin: 0 auto;
    position: relative;
}
.navbar {
    max-width: 90%;
    display: flex;
    height: 50px;
    align-items: center;
    margin: 0 auto;
    background-color: ivory;
    z-index: 10;
    color: rgb(5, 90, 43);
}
.logoheader {
    margin: 0 0 0 10px;
    width: 48%;
    font-size: 28px;
    text-transform: uppercase;
}
.logodiv {
    font-size: 42px;
    width: 1.75%;
    margin-left: 10px;
}
.nave {
    height: 100%;
    width: 50%;
}
.nave ul {
   margin: 0;
   padding: 0;
   height: 100%; 
   display: flex;
   align-items: center;
   justify-content: space-evenly;
}
.nave ul li {
    border-radius: 10px;
    padding: 5px;
    display: inline; 
    align-items: center;
}
.nave ul li a {
    text-decoration: none;
    color: rgb(5, 90, 43);
    font-size: x-large;
    font-weight: 600;
}
.nave ul li a:hover {
    border-radius: 10px;
    font-size: xx-large;
    background-color: rgba(231, 223, 190, 0.2);
    transition: all 0.2s ease;
}

/* hero image */

#main-container {
    width: 90%; 
    margin: 20px auto;
}
.image-container {
    width: 100%;
    background: url('../images/lavender-5333905_1280.jpg') center center / cover no-repeat fixed;
    height: 760px;
    border-radius: 10px;
}
.hero-header {
    position: absolute;
    z-index: 20;
    top: 300px;
    left: 15%;
    font-size: 2rem;
    width: 400px;
    background-color: rgba(240, 237, 227, 0.5);
    padding: 0 10px 10px 10px;
    border-radius: 20px;
    position: absolute;
    text-align: center;
    height: 340px;
}
.hero-header h1, p {
    color: rgb(27, 3, 94);
    font-weight: 600;
}
.hero-header div a {
    font-weight: 600;
    border: 2px solid rgb(27, 3, 94);
    text-decoration: none;
    color: rgb(27, 3, 94);
    border-radius: 20px;
    padding: 2px;
}
.hero-header div a:hover {
    padding: 0 8px 0 8px;
    background-color: rgba(247, 236, 195, 0.5);
    font-size: 2.2rem;
    transition: all 0.2s ease;
}
/* embeded video and text*/

section {
    margin-bottom: 20px;
}

.container-trailer {
    width: 100%;
    height: 620px; 
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
}
.video-info {
    background-color: chartreuse;
    width: 45%;
    height: 500px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    
}
.video-info div {
    
    font-size: 2em;
    border: 1px solid;
}
.video {
    
    width: 50%;
    height: 500px;
}
.video iframe {
    height: 500px;
    width: 100%;
}

/* 3 herb section */

.rdsection {
    display: flex;
    flex-direction: row;
}
.example {
    height: 600px;
    width: 510px;
    border: 1px solid;
    margin: 0 auto;
    border-radius: 20px;
}
.imageBox {
    height: 50%;
    width: 100%;
    border-bottom: 1px solid;
}
img {
    height: 300px;
    width: 100%;
    border-radius: 20px 20px 0 0;
}
.textBox {
    text-align: center;
}
.textBox div{
    width: 80%;
    margin: 0 auto;
}

.textBox h1 {
    font-size: 30px;
    letter-spacing: 0.1rem;
    margin: 0;
    background-color: coral;
}
.textBox p {
    font-size: 20px;
    background-color: cornflowerblue;
}
.textBox a{
    background-color: cyan;
    color: black;
    font-size: 20px;
    text-transform: uppercase;
    border: 1px solid;
    padding: 0 5px;
    font-weight: 700;
}

/*blockqute style */

.center-text {
    display: flex;
    text-align: center;
    height: 300px;
    background-color: darkgoldenrod;
    
}
blockquote {
    font-size: 30px;
    margin: 50px;
    background-color: darkgray;
}
