/* global style */

html, body {
    margin: 0;
    padding: 0;
}
body {
    background-color: ivory;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

li {
    list-style-type: none;
}
* {
    box-sizing: border-box;
}
a {
    text-decoration: none;
}

/* header style */

.imageheader {
    background-color: burlywood;
    width: 100%;
    height: 60px;
}
header {
    width: 100%;
    height: 110px;
    margin: 0 auto 20px auto;
}
.navbar {
    max-width: 100%;
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: end;
    margin: 0 auto;
    background-color: rgb(245, 245, 176);
    z-index: 10;
    color: rgb(27, 3, 94);
    box-shadow: 4px 4px 3px 3px lightgray;
}
.logo {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: rgb(27, 3, 94);
    display: none;
}
.logoTwo {
    width: 50%;
    display: flex;
    align-items: center;
}
.logoheaderTwo {
    font-size: 38px;
    text-transform: uppercase;
}
.logoheader {
    font-size: 28px;
    text-transform: uppercase;
}
.logodiv {
    font-size: 42px;
    margin-left: 10px;
}
.nave {
    height: 100%;
    width: 50%;
}
.nave ul {
   margin: 0;
   padding: 0;
   height: 100%; 
   display: flex;
   align-items: center;
}
.nave ul li {
    
    border-radius: 10px;
    padding: 0 5px;
    width: calc(100% / 4);
    display: block;
    text-align: center;
}
.nave ul li a {
    transition: all 0.2s;
    text-decoration: none;
    color: rgb(27, 3, 94);
    font-size: 28px;
    font-weight: 600;
}
.active {
    border-bottom: 1px solid rgb(5, 90, 43);
}
.nave ul li a:hover {
    border-radius: 10px;
    padding: 3px;
    background-color: rgba(228, 213, 154, 0.4);
    box-shadow: 3px 3px 2px 1px gray;
}

@media (max-width: 1300px){

    .logo {
        display: flex;
    }
    .logoTwo {
        display: none;
    }
    .nave {
        width: 100%;
    }
}
@media (max-width: 630px) {
    
    .logoheader {
        font-size: 18px;
    }
    .logodiv {
        font-size: 30px;
        margin-left: 0;
    }
    .nave ul li a {
        font-size: 22px;
    }
    
}
/* hero image */

#main-container {
    width: 90%; 
    margin: 10px auto;
}
.image-container {
    width: 100%;
    background: url('../images/lavender-5333905_1280.jpg') center center / cover no-repeat;
    height: 700px;
    border-radius: 10px;
    box-shadow: 4px 4px 4px 3px gray;
}
.hero-image {
    position: relative;
    width: 100%;
    height: 700px;
}
.hero-header {
    height: 250px;
}
.hero-header,
.hero-header-medical {
    position: absolute;
    z-index: 20;
    top: 180px;
    left: 10%;
    font-size: 1.5em;
    width: 400px;
    background-color: rgba(240, 237, 227, 0.9);
    border-radius: 50px;
    text-align: center;
}
.hero-header h1 p,
.hero-header-medical h1 p {
    color: rgb(27, 3, 94);
    font-weight: 600;
}
.hero-header h1,
.hero-header-medical h1 {
    letter-spacing: 0.1em;
}
.hero-header div a,
.hero-header-medical a{
    font-weight: 600;
    border: 2px solid rgb(27, 3, 94);
    text-decoration: none;
    color: rgb(27, 3, 94);
    border-radius: 20px;
    font-size: 2rem;
    padding: 5px;
    transition: all 0.2s;
}
.hero-header div a:hover,
.hero-header-medical a:hover {
    padding: 8px 8px;
    border-radius: 30px;
    background-color: rgba(247, 236, 195, 0.5);
    font-size: 2.2rem;
    transform: scale(1.05);
}

@media (max-width: 1300px) {
    #main-container {
        width: 100%;
    }
    .hero-header,
    .hero-header-medical {
        left: 50%;
        margin-left: -200px;
    }

    @media (max-width:400px) {
        .hero-header, .hero-header-medical {
            width: 350px;
            margin-left: -175px;
            height: 370px;
        }
    }
}
/* embeded video and text*/



.container-trailer {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    background-color: lightyellow;
    padding: 20px;
}
.video-info {
    width: 50%;
    height: 500px;
    display: flex;
    align-items: center;
    text-align: center;  
}
.video-info div {
    font-size: 2em;
}
.video {
    width: 50%;
    height: 500px;
}
.video iframe {
    height: 100%;
    width: 100%;
    border: none;
}
@media (max-width:1300px) {
    .container-trailer {
        flex-direction: column;
        text-align: center;
        padding: 0;
    }
    .video-info {
        width: 100%;
        height: 100%;
    }
    .video {
        width: 80%;
        height: 500px;
    }
}
@media (max-width: 630px) {
    .video {
       width: 100vw;
       height: 260px;
    }
    .container-trailer {
        font-size: 12px;
    }
}
/* 3 herb section */
.rdsection h1 {
    font-size: 38px;
    text-align: center;
    padding: 80px;
}
.plantsThree {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.example {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    width: calc(90% / 3);
    border: 1px solid;
    border-radius: 20px;
    height:100%;
    background-color:rgb(247, 242, 235);
    box-shadow: 4px 4px 4px 4px gray;
}
.normal-img {
    height: 300px;
    width: 100%;
    padding: 20px;
    border-radius: 30px;
}
.textbox {
    display: flex;
    flex-direction: column;
    height: 300px;
}
.example  h2 {
    font-size: 30px;
    letter-spacing: 0.1rem;
    margin: 0; 
    height: 40px;
}
.example p {
    font-size: 20px;
    height: 210px;
}
.example a,
.com-item a{
    background-color: rgb(89, 231, 108);
    color: black;
    font-size: 20px;
    text-transform: uppercase;
    border: 1px solid;
    padding: 7px;
    font-weight: 700;
    box-shadow: 3px 3px 2px 1px gray;
    transition: all 0.2s;
    margin: 0 auto;
}
.example a:hover,
.com-item a:hover {
    box-shadow: 4px 4px 3px 2px gray;
    background-color: rgb(42, 236, 74);
    transform: scale(1.1);
}
@media (max-width: 600px) {
    .rdsection h1 {
        padding: 80px 0;
    }
    .example {
        width: calc(285% / 3);
        margin: 10px auto;
    }
    .plantsThree {
        flex-direction: column;
    }
}
@media (min-width: 601px) and (max-width: 750px) {
    .example {
        width: calc(195% / 3);
        margin: 10px auto;
    }
    .plantsThree {
        flex-direction: column;
    }
}
@media (min-width: 751px) and (max-width: 1099px) {
    .plantsThree {
        flex-direction: column;
    }
    .example {
        width: 700px;
        flex-direction: row;
        height: 310px;
        margin-bottom: 30px;
        margin: 20px auto;
    }
    .image {
        height: 100%;
        border-radius: 20px;
        width: 50%;
    }
    .textbox {
        width: 50%;
        height: 100%;
        border-radius: 0 20px 0 0;
    }
    .textbox h2 {
        font-size: 36px;
        border-radius: 0 20px 0 0;
    }
    .textbox p {
        height: 220px;
        font-size: 18px;
    }
    .textbox a {
        font-size: 24px;
    }
}
@media (min-width:1100px) and (max-width: 1170px) {
    .example {
        width: calc(96% / 3);
    }
}
/*blockqute style */

.center-text {
    display: flex;
    text-align: center;
    height: 300px;
    justify-content: center;
    align-items: center;
}
blockquote {
    font-size: 30px;
}
/* footer */

footer {
    width: 90%;
    margin: 10px auto;
}
.footernav {
    width: calc(100% / 3);
    display: flex;
    justify-content: space-evenly;
}
.footernav h1 {
    height: 40px;
    font-size: 36px;
}
.footernav span {
    font-size: 22px;
    font-weight: 600;
}
.footernav span a {
    padding: 5px;
}
.footernav span a:hover {
    color: crimson;
    border-bottom: 2px solid;
}
.upper {
    display: flex;
    height: 40px;
    align-items: center;
    border-bottom: 2px solid;
}
.lower {
    height: 50px;
    font-size: 30px;
}
.lower div {
    display: flex;
    align-items: center;
    justify-content: center;
}
.lower a {
    margin: 7px 20px;
    transition: all 0.2s;
}
.lower a:hover {
    transform: scale(1.10); 
    color: crimson;
}
@media (max-width: 760px) {
    .footernav:nth-of-type(2n) {
        display: none;
    }
    .footernav {
        width: calc(100% / 2);
    }
}

/* medical page hero section */

.image-container-medical {
    background-image: url('../images/cup-829527_1280.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 700px;
    border-radius: 20px;
    box-shadow: 4px 4px 4px 4px gray;
}
.hero-header-medical {
    height: 250px;
}
/* meidcal plant boxes */

.common {
    width: 100%;
}
.first-line {
    font-size: 3em;
    padding: 30px;
    margin: 30px;
}
.com-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    flex-direction: row;
    justify-content: space-around;
    
}
.secound-line {
    font-size: 2.5em;
}
.com-item {
    width: 400px;
    height: 660px;
    background-color: rgb(247, 242, 235);
    padding: 20px 20px 0 20px;
    text-align: center;
    border: 1px solid;
    margin: 10px 0 10px 0;
    box-shadow: 3px 3px 3px 3px gray;
}

.com-text {
    display: flex;
    flex-direction: column;
    height: 310px;
}
.com-text h2{
    letter-spacing: 0.1em;
    
}
.com-text p {
    font-size: 1.3em;
}
.hero-header-medical h1, p {
    margin: 20px;
}
.btn-container{
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-page {
    height: 260px;
}
@media (max-width: 800px) {
    .com-item {
        margin: 10px auto;
        width: 340px;
    }
    .first-line {
        font-size: 2.2em;
        padding: 0;
        margin: 60px 10px;
    }
    .secound-line {
        margin: 30px 10px;
        font-size: 1.98em;
    }
}

/* about us page */
.about-container {
    width: 100%;
    
}
#about {
    height: 1200px;
    display: flex;
    align-items: center;
    
    width: 100%;
    background: url('../images/R.0c8941fea5896f0b013715e262c307dd.jpg') no-repeat center center;
}
.about-heading {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    margin-top: 10px;
}

.about-text {
    width: 755px;
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    padding: 30px;
    background-color: rgba(245, 222, 195, 0.6);
    border-radius: 25% 0 200px 0;
}
.about-text p {
    font-size: 26px;
    text-align: center;
}
blockquote {
    height: 175px;
    font-size: 30px;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
}


@media (max-width: 1200px) {
.about-text p {
    width: 100%;
    padding: 20px;
}
blockquote {
    width: 100%;
    padding: 0 20px;
}
}
@media (max-width: 600px) {
    .about-text {
        width: 98vw;
        height: 47rem;
        padding: 0;
    }
    .about-text p {
        font-size: 21px;
        padding: 10px;
    }
    .about-heading {
        font-size: 30px;
    }
    blockquote {
        padding: 0;
        font-size: 25px;
        text-align: left;
    }
    cite {
        align-self: center;
    }
}

/* contact page */

.more-plants {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    margin-bottom: 10px;
    justify-content: space-around;
    padding: 30px;
}
.more-plants-icon {
    width: 300px;
    margin-bottom: 20px;
    border: 1px solid black;
    box-shadow: 1px 1px 3px 1px gray;
}
.more-plants-icon h2 {
    margin: 0;
    padding: 5px;
    text-align: center;
}
.about-image {
    width: 100%;
    height: 80%;
}
.more-container {
    padding: 0 0 50px 0;
}
.more-container h1 {
    padding: 40px;
    text-align: center;
    font-size: 30px;
    font-weight: 800;
}

hr {
    box-shadow: 1px 1px 1px 1px rgb(236, 236, 236);
}
  
/* contact page */
.contact-container {
    width: 60%;
    margin: 20px auto;
    background-color: rgb(245, 245, 176);
    padding: 5px;
}
.first-text-container {
    text-align: center;
}
.first {
    margin: 40px;
}
.first-text-container  h1 {
    font-size: 40px;
}
.first-text-container  p {
    font-size: 20px;
    margin: 60px 20px;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 60%;
    margin-left: 20px;
  }
  
  td, th {
    border-bottom: 1px solid black;
    text-align: left;
    padding: 8px;
  }
  form {
      width: 700px;
      margin: 40px auto;
      font-size: 26px;
      padding: 10px;
  }
  form h1 {
      text-align: center;
  }
  form p {
      margin: 10px 0;
  }
  legend {
      margin: 10px 0;
  }
  fieldset {
      border: none;
      margin: 10px 0;
  }
  fieldset  input{
      margin: 10px 0;
  }
 .submit-data {
     text-align: center;
 }
input[type="submit"], input[type="reset"] {
    font-size: 20px;
    padding: 5px;
}
input[type="reset"] {
    background-color: rgba(245, 41, 41, 0.8);
}
input[type="reset"]:hover {
    background-color: rgb(254, 39, 39);
}
input[type="submit"] {
    background-color: lightgreen;
}
input[type="submit"]:hover {
    background-color:rgb(19, 233, 19);
}
@media (max-width: 1200px) {
    .contact-container {
        width: 100%;
    }
    .first {
        margin: 10px;
    }
}
@media (max-width: 700px) {
    form {
        width: 100%;
    }
    textarea {
        width: 100%;
    }
}